@import "_vars.scss";
@import "_theme.scss";

body,
html,
#app {
	font-family: $font-family;
	font-size: $font-size;
	font-weight: 500 !important;
	letter-spacing: $letter-spacing;
	min-height: 100vh;
}

div#app {
	background-color: #f3f3f3;
	&::before {
		background: url(/assets/img/logo-esap.svg) no-repeat center center;
		background-size: 900px;
		filter: grayscale(100%);
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		opacity: 0.05;
		content: "";
	}
}

p {
	font-weight: 500;
	font-size: $font-size;
	line-height: $font-size * 1.7;
	letter-spacing: $letter-spacing * 2.5;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

// html,
// body {
// 	// font-family: $font-family !important;
// 	font-size: 14px;
// 	letter-spacing: -0.6px;
// }

@media (min-width: $max-width) {
	.container {
		max-width: $max-width * 0.8 !important;
	}
}

ul.breadcrumb li,
.dropdown-item {
	font-size: 1rem !important;
	font-weight: 600;
	// letter-spacing: -10px;
}

a {
	color: $main-color !important;
}

h2 {
	letter-spacing: -2px;
}

.header-nav-top {
	.nav-link,
	.nav-item a,
	.dropdown-item {
		font-weight: 500 !important;
		font-size: 0.92rem !important;
	}
}

#footer {
	border: none;
}

.footer-copyright {
	p {
		$font-family: Nunito, Arial, sans-serif !important;
		font-weight: 700 !important;
		font-size: 13px !important;
		line-height: 20px !important;
		letter-spacing: normal !important;
		letter-spacing: -0.5px !important;
		opacity: 0.85 !important;
	}
}

ul.text-color-white {
	li,
	li a {
		color: #0c497a !important;
	}
}

.header-top {
	&.bg-dark {
		a,
		i {
			color: #ffffff !important;
		}
	}
}

.content {
	p,
	ul,
	li {
		color: $text;
		// font-size: $font-size;
		font-size: 1.16rem;
		letter-spacing: -0.8px;
		text-align: justify;
		// letter-spacing: $letter-spacing;
	}
	li::marker {
		color: $main-color;
	}
}

.dropdown-menu {
	.dropdown-item {
		font-weight: 500 !important;
		// text-transform: capitalize !important;
	}
}

.modal .modal-content {
	opacity: 0;
	transform: scale(0.7);
	transition: all 0.3s;
}
.modal.show .modal-content {
	opacity: 1;
	transform: scale(1);
}

input {
	letter-spacing: -1px;
}

.modal-dialog {
	.modal-content {
		border: none;
		box-shadow: $shadow !important;
	}
}

.modal.fade .modal-dialog {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.header-body {
	box-shadow: $shadow !important;
}

.btn {
	font-weight: 600;
	font-size: 1.1rem;
	letter-spacing: -1.02px;
	i {
		font-size: 1.1rem !important;
	}
	&.disabled {
		opacity: 0.5 !important;
		background-color: #ccc;
	}

	&.btn-main,
	&.btn-trans,
	&.btn-gray {
		color: #ffffff !important;
		background-color: $main-color;
		&:hover {
			background-color: $main-color-600;
			color: #ffffff;
		}
	}
	&.btn-gray {
		background-color: darken($color: #aaa, $amount: 15);
		// color: #333;
		// background-color: #aaa;
		&:hover {
			background-color: darken($color: #aaa, $amount: 30);
		}
	}
	&.btn-green {
		background-color: #19ad68;
		color: #fff !important;
		// background-color: #aaa;
		&:hover {
			background-color: darken($color: #19ad68, $amount: 10);
		}
	}
	&.btn-red {
		background-color: #db2929 !important;
		color: #fff !important;
		&:hover {
			background-color: darken($color: #db2929, $amount: 10) !important;
		}
	}

	&.btn-trans {
		padding: 0;
		background-color: transparent;
		&:hover {
			background-color: transparent;
		}
	}
}

a.btn-modal {
	opacity: 0.6;
	cursor: pointer;
	color: $main-color;
	i {
		font-size: 1.8rem;
	}
	&:hover {
		opacity: 1;
	}
}

div.form-control {
	padding: 0;
}

.card {
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	// border: 1px solid rgba(0, 0, 0, 0.125);
	border: none;
	border-radius: 0.3rem;
	box-shadow: $shadow;
	padding: 0 !important;

	&.content {
		min-height: 500px !important;
	}

	.card-header {
		&.main {
			i {
				font-size: 1.4rem;
				margin-right: 0.5rem;
				color: $color-accent;
			}
			font-weight: 600;
			letter-spacing: -1px;
			font-size: 1.7rem;
			padding: 1rem 2rem;
			border: none;
			background-color: $main-color;
			color: #fff;
			border-bottom: 4px solid $color-accent;
		}
	}

	.card-footer {
		&.main {
			// i {
			// 	font-size: 1.4rem;
			// 	margin-right: 0.5rem;
			// }
			// font-weight: 400 !important;
			letter-spacing: -1.4px;
			font-size: 1.6rem;
			padding: 1rem 2rem;
			border: none;
			border-top: 1px solid rgba(0, 0, 0, 0.125);
			// background-color: $main-color;
			color: #fff;
		}
	}

	&.evento {
		.card-title {
			font-size: 1.12rem;
			line-height: 1.3rem;
			color: $main-color;
			font-weight: 600;
			text-align: left;
		}
		.card-text {
			font-size: 1rem;
			line-height: 1.4rem;
			letter-spacing: -0.4px;
			strong {
				font-weight: 600;
			}
		}
		.card-footer {
			font-size: 1rem;
			font-weight: 700;
			.type {
				&.virtual {
					color: #bb2e91;
				}
				&.presencial {
					color: #32a31b;
				}
			}
			a {
				letter-spacing: -0.4px;
			}
		}
	}
}

input {
	&.has-icon {
		padding-left: 38px;
	}
}

.hidden {
	display: none;
	zoom: 1;
}

.blockUI {
	.blockMsg {
		.blockElement {
			i {
				margin: 0;
				font-size: 2.5em;
				line-height: 2.5rem;
				display: block;
				color: $main-color;
			}
		}
	}
}

.block-ui {
	.msg {
		font-weight: 400;
		color: $main-color;
		line-height: 0.5rem !important;
		font-size: 1.6rem !important;
		letter-spacing: -1.4px !important;
	}
	i {
		font-weight: 600;
		display: block;
		font-size: 2.4rem;
		margin-bottom: 1rem;
		color: $main-color;
		animation-name: spin;
		animation-duration: 1400ms;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.swal2-title {
	font-weight: 400 !important;
	font-size: 1.8rem !important;
	letter-spacing: -1.2px !important;
}

.swal2-content {
	font-size: 1.3rem !important;
	line-height: 1.5rem !important;
	letter-spacing: -0.6px !important;
	margin-left: 2rem !important;
	margin-right: 2rem !important;
}

.dx-header-row {
	td {
		letter-spacing: -0.6px;
		background-color: $main-color !important;
		color: #ffffff !important;
		font-weight: 600;
		font-size: 14.5px;
		.dx-datagrid-text-content {
			// margin-top: 10%;
			padding-right: 0.5rem;
		}
	}
}

span.cmds {
	a {
		margin-right: 0.6rem !important;
		&:last-child {
			margin-right: 0 !important;
		}
	}
}

.card {
	&.data {
		label.tit {
			font-weight: 600 !important;
			font-size: 1.1rem !important;
			letter-spacing: -0.6px;
			color: $main-color;
			&::after {
				content: ":";
			}
		}
		.form-control {
			font-size: 1.12rem !important;
			letter-spacing: -0.8px;
		}
	}
}

.text-size-md,
.form-label {
	$size: 16px;
	margin-bottom: 0 !important;
	letter-spacing: -0.8px !important;
	font-size: $size !important;
	line-height: $size !important;
	i {
		font-size: $size !important;
	}
}

.font-weight-semibold {
	font-weight: 600 !important;
}

.select2 {
	font-size: 1.12rem;
	letter-spacing: -0.8px;
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	// font-size: 1rem ;
	font-weight: 400;
	line-height: 1.5;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
}

.select2-selection {
	border: none !important;
}

.dx-row {
	&.dx-data-row {
		font-weight: 600;
		font-size: 14px;
		font-style: normal;
		letter-spacing: -0.6px;
		&.dx-state-hover {
			td {
				background-color: $main-color-200 !important;
			}
		}
	}
}

.dx-datagrid {
	// width: 100% !important;
}

.dx-texteditor-input,
.dx-placeholder {
	font-size: 1.1rem;
	font-weight: 500;
	letter-spacing: $letter-spacing * 2.5;
	font-family: $font-family !important;
}

.dx-list-item {
	font-size: 1rem;
	letter-spacing: -0.6px;
	font-family: $font-family;
}

.dx-placeholder {
	&::before {
		padding: 0;
		padding-left: 1rem;
	}
}

.dx-icon {
	&::before {
		color: $main-color;
		// padding: 1rem;
	}
}

.dx-row,
.dx-widget {
	font-family: $font-family !important;
	&.dx-header-row {
		font-size: 1.16rem;
	}
	&.dx-data-row {
		font-family: $font-family !important;
	}
}

.dx-sort {
	&.dx-sort-down {
		&::before {
			font-family: "FontAwesome";
			content: "\f176";
		}
	}
	&.dx-sort-up {
		&::before {
			font-family: "FontAwesome";
			content: "\f175";
		}
	}
}
.dx-group-panel-item,
.dx-group-cell {
	font-size: 0.92rem;
	font-weight: 600 !important;
	color: $main-color-450 !important;
}

.dx-datagrid-filter-row {
	.dx-texteditor-input {
		font-size: 0.92rem;
		// font-weight: 600 !important;
		// color: $main-color-450 !important;
	}
}

.title {
	font-size: 1.66rem;
	line-height: 2rem;
	letter-spacing: -1.6px;
	color: $text;
}

.title-1 {
	font-weight: 400;
	font-size: 2rem;
	line-height: 2rem;
	letter-spacing: -2px;
	color: $text;
}

.title-mid {
	font-size: 1.26rem;
	line-height: 1.9rem;
	letter-spacing: -1.2px;
	color: $text;
}

.bb {
	border-bottom: 1px solid #ccc;
}

.bbd {
	border-bottom: 1px dotted #ccc;
}

.btd {
	border-top: 1px dotted #ccc;
}

.bt {
	border-top: 1px dotted #ccc;
}

label.help {
	cursor: pointer;
	font-weight: 500 !important;
	font-size: 1.04rem !important;
	letter-spacing: -0.8px;
	color: $main-color;
	&::after {
		content: ":";
	}
	&::before {
		content: "\f059";
		font-family: FontAwesome;
		margin-right: 0.4rem;
	}
}

.dx-popup-normal {
	.dx-popup-title {
		.dx-item-content {
			color: $main-color;
			font-size: 1.1rem;
			font-weight: 500;
			letter-spacing: -1px;
		}
	}
	.dx-popup-content {
		.dx-item-content {
			// color: $main-color;
			font-size: 1.06rem;
			font-weight: 500;
			letter-spacing: $letter-spacing * 1.5;
		}
	}
}

.dx-pager {
	.dx-page-size,
	.dx-page {
		letter-spacing: -0.8px;
		color: $main-color;
		&.dx-selection {
			font-weight: 600;
			color: $main-color;
			background-color: #f5f5f5;
		}
	}
	.dx-info {
		color: $text;
		letter-spacing: -0.8px;
		opacity: 1 !important;
	}
	.dx-navigate-button {
		color: $main-color !important;
	}
}

//  dx-list-item-content
span.subtitle {
	color: $main-color;
	font-weight: 400;
	font-size: 1.4rem;
	letter-spacing: -1px;
}

.dx-invalid.dx-texteditor {
	border: 1px dotted rgb(197, 31, 25);
	background-color: rgb(255, 253, 218);
}

.blue-tooltip.tooltip {
	opacity: 1;
	.tooltip-arrow {
		// box-shadow: $shadow;
		display: none;
		&::before {
			top: -1px;
			border-width: 0.4rem 0.4rem 0;
			border-top-color: white;
			box-shadow: 1px 1px 20px 0px;
		}
	}
	& > .tooltip-inner {
		// background-color: rgba($color: white, $alpha: 1);
		// box-shadow: $shadow;
		background-color: $main-color;
		border: none;
		color: white;
		font-family: $font-family !important;
		font-size: 1.06rem;
		font-weight: 400;
		letter-spacing: -0.4px;
		line-height: 1.3rem;
		max-width: 500px;
		padding: 0.5rem 1rem;
		text-align: center;
		small {
			font-size: 0.8rem;
			letter-spacing: -0.6px;
		}
		strong,
		b {
			color: $main-color;
			font-weight: 500 !important;
		}
	}
}

.hor-scroll {
	display: grid;
	grid-gap: var(--gutter) 0;
	grid-template-columns: var(--gutter) 1fr var(--gutter);
	margin: 0;
	padding: 0;
	// margin-top: 10px !important;

	& > * {
		grid-column: 2 / -2;
	}

	& > .full {
		grid-column: 1 / -1;
	}

	& .hs {
		display: grid;
		grid-gap: calc(var(--gutter) / 2);
		/*grid-gap: 15px;*/
		grid-template-columns: 0;
		grid-auto-flow: column;
		overflow-x: scroll;
		margin: 0;
		padding: 0;
		padding-bottom: 15px !important;

		&:before,
		&:after {
			content: "";
		}

		&:first-child:before {
			content: "";
			width: 0 !important;
		}

		& .form-group {
			margin: 0;
			margin-right: 1rem;
			text-align: center;

			& .form-control {
				font-size: 0.9rem;
				text-align: center;
				min-width: 90px;
			}
		}
	}

	&.medium {
		.form-control {
			min-width: 150px !important;
		}
	}
}

.subtit {
	color: $text;
	font-weight: 500;
	font-size: 1.1rem;
	letter-spacing: -1px;
}

.fs {
	fieldset {
		border: 1px solid #ccc;
		padding: 1rem;
		padding-top: 0.8rem;
		border-radius: $radius * 2;
		legend {
			color: $main-color;
			letter-spacing: -1px;
			font-size: 1.3rem;
			font-weight: 500;
			border-bottom: 1px dotted #ccc;
			&.sub {
				font-size: 1.14rem;
			}
		}
	}
}

.msg-alert {
	color: $text;
	letter-spacing: -1.2px;
	font-size: 1.2rem;
	font-weight: 600;

	&::before {
		font-family: "FontAwesome";
		content: "\f071";
		margin-right: 0.4rem;
		color: red;
	}
}

.dx-tag-content {
	// padding-left: 0.6rem;
	// padding-left: 0.6rem;
	font-size: 0.96rem;
	font-weight: 500;
	letter-spacing: -0.94px;
	background-color: $main-color;
	text-align: left;
	.dx-tag-remove-button {
		&::before {
			background-color: white;
		}
		&::after {
			background-color: white;
		}
	}
	span {
		color: white;
	}
}

.dx-scrollview-content {
	font-size: 0.96rem;
	font-weight: 500;
	letter-spacing: -0.94px;
	.dx-list-select-all {
		padding: 0;
		cursor: pointer;
		padding-top: 0.4rem;
		padding-bottom: 0.3rem;
	}
}

.dxc-tooltip,
.dxg-tooltip {
	// background-color: red !important;
	z-index: 1000 !important;
}

.active {
	cursor: pointer;
}
.cifra {
	cursor: pointer;
	.tit {
		color: $main-color;
		font-size: 1.6rem;
		letter-spacing: -1.6px;
		margin-bottom: 1rem;
	}
	.num {
		color: $text;
		font-weight: 200;
		font-size: 4rem;
		letter-spacing: -3px;
	}
}

h5.tit {
	// font-style: normal !important;
	text-transform: unset;
	font-size: 1.26rem;
	line-height: 1.6rem;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

html {
	.scroll-to-top {
		transition: opacity 0.6s;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 10px;
		bottom: 20px;
		right: 20px;
		font-size: 1.8rem;
		font-weight: 800;
		i {
			color: #fff;
		}
	}
}
.chart-ind {
	height: 150px;
}
.chart-gauge {
	height: 100px;
}
.item-avance {
	display: none;
	font-size: 2.4rem;
	font-weight: 400;
	letter-spacing: -3px;
	position: absolute;
	left: 0;
	top: -40px;
	// color: #3366cc;
	color: rgb(58, 58, 58);
	&::after {
		content: "%";
		font-size: 1.3rem;
		margin-left: 0.3rem;
	}
}

.header-row {
	&.bt {
		border-top: 1px solid #ccc;
	}
}

$height: 45px;
#header .header-nav-main {
	// display: flex !important;
	// height: $height !important;
	// min-height: $height !important;
	// line-height: $height !important;
	& nav > ul > li > a {
		font-weight: 600 !important;
		font-size: 1.06rem !important;
		text-transform: none !important;
	}
}
#header .header-nav {
	height: $height !important;
	min-height: $height !important;
	line-height: $height !important;
}
.nav-pills {
	// height: $height !important;
	// min-height: $height !important;
	// line-height: $height !important;
	.dropdown {
		// height: $height !important;
		// min-height: $height !important;
		// line-height: $height !important;
		a {
			font-weight: 700 !important;
			font-size: 14px !important;
			line-height: $height !important;
			height: $height !important;
			min-height: $height !important;
		}
		.dropdown-item {
			// font-size: 1.1rem !important;
		}
	}
}

.dropdown-menu {
	// line-height: $size !important;
	// font-size: $size !important;
	box-shadow: $shadow !important;
	li {
		// padding: 0 !important;
		// line-height: $size !important;
		// font-size: $size !important;
		.dropdown-item {
			$size: 40px;
			font-weight: 600 !important;
			height: $size !important;
			min-height: $size !important;
			margin: 0 !important;
			padding: 0 !important;
			padding-left: 15px !important;
			line-height: $size !important;
			font-size: 1.1rem !important;
		}
	}
}

#logo-esap {
	opacity: 0.75;
}
.bt-accent {
	border-top: 4px solid $color-accent;
	// box-shadow: $shadow;
}
.bb-accent {
	border-bottom: 4px solid $color-accent;
	// box-shadow: $shadow;
}
.color-accent {
	color: $color-accent;
}

.dx-column-indicators {
	color: $color-accent;
}

.form-label {
	margin-bottom: 0 !important;
}

.form-control {
	&.no-border {
		border: 1px solid transparent;
	}
}

.dx-scrollable-wrapper {
	margin: 0;
	// padding: 7px 9px 8px;
	background: rgba(0, 0, 0, 0);
	color: #333;
	font-size: 1em;
	border-radius: 4px;
	min-height: 34px;
	border: 1px solid #ddd;
}

a.disabled {
	pointer-events: none;
	opacity: 0.2;
}

.bbd {
	border-bottom: 1px dotted #ccc;
}

.dx-multiview-item-content {
	min-height: 450px;
	padding: 1rem;
}

.dx-tabs {
	background-color: none !important;
	.dx-tab {
		padding: 0.6rem 1.4rem !important;

		.dx-tab-text {
			font-weight: 600;
			font-size: 1.18rem;
			color: #999 !important;
		}
		&.dx-tab-selected {
			// border: 1px solid red;
			.dx-tab-text {
				color: $main-color !important;
			}
		}
	}

	.dx-state-focused {
		border: none !important;
	}
}

.dx-filemanager-thumbnails-item {
	$size: 200px;
	// width: $size;
	// height: $size;
	// width: $size;
	// height: $size;
	// font-size: $size;
}

.dx-state-readonly {
	cursor: pointer !important;
}
.dx-dropdowneditor-icon {
	&::before {
		color: $main-color !important;
	}
}

.font-size-sm {
	font-size: 82%;
}

.dropdown-menu-right {
	right: 0;
	left: auto;
}

.h-6vw {
	width: 100%;
	height: 6vw;
	object-fit: cover;
}

.h-5vw {
	width: 100%;
	height: 5vw;
	object-fit: cover;
}

.h-4vw {
	width: 100%;
	height: 4vw;
	object-fit: cover;
}

.h-3vw {
	width: 100%;
	height: 3vw;
	object-fit: cover;
}

.pagination {
	box-shadow: $shadow !important;
	.page-item {
		box-shadow: none !important;
		.page-link {
			cursor: pointer !important;
			// border: 1px solid #ccc;
			font-size: 1rem;
			letter-spacing: -0.4px;
			font-weight: 600;
			padding: 0.5rem 1rem !important;
			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
				box-shadow: none;
			}
		}
		&.disabled {
			.page-link {
				color: #ccc !important;
			}
		}
		&.active {
			.page-link {
				color: #ffffff !important;
				background-color: $main-color;
				&:hover,
				&:active,
				&:focus {
					background-color: $main-color;
				}
			}
		}
	}
}

.hand {
	cursor: pointer !important;
}

.file-selector {
	.dx-fileuploader-wrapper,
	.dx-fileuploader-input-wrapper {
		width: 100%;
		padding: 0;
		border: none;
		.dx-fileuploader-button {
			border: none;
			color: #ffffff;
			font-size: 1.06rem;
			font-weight: 500;
			width: 100%;
			letter-spacing: -0.6px;
			background-color: $main-color;
			.dx-button-text {
				&::before {
					display: inline-block;
					margin-right: 0.6rem;
					content: "\e178";
					font-family: FontAwesome;
				}
			}
		}
	}
	.dx-fileuploader-files-container,
	.dx-fileuploader-file-container,
	.dx-fileuploader-file {
		padding: 0;
		.dx-fileuploader-file-name {
			font-size: 1.06rem;
			letter-spacing: -1px;
			padding-right: 0.2rem;
			font-weight: 400;
			&::before {
				content: "Seleccionado: ";
				font-weight: 500;
			}
		}
		.dx-fileuploader-file-size {
			vertical-align: middle;
			font-size: 0.92rem;
			&::before {
				content: "(";
			}
			&::after {
				content: ")";
			}
		}
	}
	.dx-fileuploader-file {
		width: 100%;
		.dx-fileuploader-file-info {
			margin-top: 0.2rem;
		}
		.dx-fileuploader-file-status-message {
			margin-top: 0.3rem;
			font-weight: 500;
			letter-spacing: -0.6px;
			font-size: 0.9rem;
			color: #46a046;
			display: inline-block;
			&::before {
				color: #46a046;
				// overflow: visible;
				display: inline-block;
				margin-right: 0.3rem;
				content: "\e178";
				// color: $main-color;
				font-family: FontAwesome;
			}
		}
	}
	.dx-fileuploader-files-container {
		padding-top: 0.3rem;
	}

	.dx-fileuploader-invalid {
		.dx-fileuploader-file-status-message {
			span {
				font-weight: 500;
				letter-spacing: -0.6px;
				font-size: 0.9rem;
				color: red;
				display: inline-block;
			}
			&::before {
				color: red;
				// overflow: visible;
				display: inline-block;
				margin-right: 0.3rem;
				content: "\e178";
				// color: $main-color;
				font-family: FontAwesome;
			}
		}
	}
}

.cmd-item {
	i {
		font-size: 18px !important;
	}
}

label {
	&.error {
		color: #c10000 !important;
		a {
			color: #c10000 !important;
		}
		&::before {
			font-family: "FontAwesome";
			content: "\f071";
			margin-right: 0.5rem;
		}
	}
}

a {
	&.a-ul {
		border-bottom: 1px dotted;
		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
			border-bottom: none;
		}
	}
}

.dx-scrollable-scroll-content {
	background-color: $main-color !important;
}

.dx-button-content {
	.dx-icon {
		color: $main-color !important;
		&::before {
			top: -20px !important;
		}
	}
}

input[type="checkbox"].thumb {
	$size: 1.4rem;
	line-height: $size;
	cursor: pointer;
	appearance: none;
	-webkit-appearance: none;
	// background-color: transparent;
	margin: 0;
	padding: 0;
	&::before {
		font-size: $size;
		font-family: "FontAwesome";
		content: "\4f";
		color: $main-color-400;
		background-color: transparent;
	}
	&:checked::before {
		font-size: $size;
		color: $main-color;
		font-family: "FontAwesome";
		content: "\f164";
		background-color: transparent;
	}
}
